body,
html {
  background: linear-gradient(to bottom,
   #7B62A7,
   #8E6DC6,
   #4D2D84,
   #302641);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* centraliza vertical e horizontal */
}

form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #7772C2, #635EA2, #5B5796);
  width: 30%;
  align-items: center;
}

h2 {
  font-size: 30px;
  color: white;
}

h2 a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h2 a:hover {
  color: rgba(235, 122, 235, 1);
}

input[type="email"],
input[type="password"],
input[type="date"],
input[type="text"],
input[type="tel"] {
  background-color: #4C439B !important;
  border: none !important;
  color: white !important;
  font-size: 16px;
  border-radius: 20px;
  padding: 25px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
}
.btn {
  background-color: #ffffff;
  color: #815ec2;
  border: none;
  padding: 20px 60px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  transition: 450ms;
  text-decoration: none;
  width: 100%;
}

.btn:hover {
  background-color: #815ec2;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 30px rgb(255, 255, 255);
}

::placeholder {
  color: #ffffff;
}
