.postContainer {
  display: flex;
  background-color: #bae6fd;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  
  overflow: hidden;
  font-size: 20px;

  width: 100%;
  max-width: 800px; 
}
/* Coluna esquerda */
.colunaEsquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  background-color: #C6E5F1;
  padding: 10px;
  
}

.profileImage {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 8px;
}

.name {
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
  color: #be185d;
  text-align: center;
}

.likeArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
  width: 100%;           
  padding: 7px ;        
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  border-radius: 6px;
}

.likeArea.liked .likeIcon {
  color: #e0245e; 
  fill: #e0245e;
}

.likeIcon {
  font-size: 20px;
}

.likeArea .likeCount {
  margin-left: 4px;
  font-weight: bold;
  font-size: 20px;
}

.content {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textBox {
  background-color: #8bbfd4;
  border-radius: 8px;
  padding: 10px 30px;
  color: #1f2937;
  min-height: 70px;
  font-size: 20px;
}

.humor {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
  color: #7e22ce;
}

.colunaDireita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #e4f4fa;
  width: 50px;
  padding: 8px;
  
}

.colunaDireita button {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer; 
}
