.postContainer {
  display: flex;
  background-color: #bae6fd;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  
  overflow: hidden;
  font-size: 14px;

  width: 100%;
  max-width: 900px; /* 👉 Aumente aqui só para os posts */
}
/* Coluna esquerda */
.colunaEsquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  background-color: #7dd3fc;
  padding: 10px;
  
}

.profileImage {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 8px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  color: #be185d;
  text-align: center;
}

.likeArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
  width: 100%;           /* ocupa toda a largura da coluna */
  padding: 6px 0;        /* cria uma área clicável maior */
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  border-radius: 6px;
}

.likeArea:hover {
  background: rgba(139, 92, 246, 0.3); /* roxo translúcido */
  color: #db2777; /* coração e número ficam rosados */
}

.likeIcon {
  font-size: 16px;
}

.likeCount {
  font-size: 13px;
}



/* Conteúdo central */
.content {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textBox {
  background-color: #e0f2fe;
  border-radius: 8px;
  padding: 12px;
  color: #1f2937;
  min-height: 70px;
  font-size: 14px;
}

.humor {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 600;
  color: #7e22ce;
}

/* Coluna direita */
.colunaDireita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #7dd3fc;
  width: 50px;
  padding: 8px;
  
}

.colunaDireita button {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer; 
}
