.container {
  display: flex;
  flex-direction: column;
  padding: 70px;
  min-height: 100vh;
}

.openButton {
  padding: 10px;
  background: #7772C2;
  color:#fff;
  font-style: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 120px;
  font-size: 14px;
}

.openButton:hover {
  background: #a7a5cd;
}

.heartActive{
  fill: red;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  
  background: #7772C2;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-top: 10px;
}

.form textarea {
  resize: none;
  height: 80px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 90%;
  height: 130px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.actions button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.actions button[type="button"] {
  background: #ccc;
  color: #333;
}

.actions button[type="submit"] {
  background: #a7a5cd;
  color: white;
}

.actions button[type="submit"]:hover {
  background: #a7a5cd;
}

.feed {
  margin-top: 20px;
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.postContainer {
  display: flex;
  background: #d0c9f5;
  border: 2px solid #444;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  max-width: 500px;
}

.emojis{
  width: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.nome {
  margin-top: 6px;
  font-weight: bold;
  color: purple;
}

.likes {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
  cursor: pointer;
}

.heart {
  color: gray;
  transition: 0.2s;
}

.heartActive {
  color: red;
  transition: 0.2s;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.balao {
  background: #e1defa;
  border: 1px solid #555;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  margin-bottom: 10px;
}

.humor {
  background: #ddd;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.reactions {
  display: flex;
  gap: 8px;
}

.reactions button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s;
}

.reactions button:hover {
  transform: scale(1.2);
}
